@use '../helpers/variables' as *;
@use '../helpers/mixins' as *;
@use '../helpers/functions' as *;

.btn {
  padding: 0.475rem 1.15rem;
  border-radius: 0.75rem;
  transition: all 0.2s ease;
  &.btn-outline {
    background-color: deepMap($colors, 'neutral', 'white');
    border: 1px solid deepMap($colors, 'neutral', 'gray');
    color: deepMap($colors, 'neutral', 'gray');
  }
  &.btn-solid {
    background-color: deepMap($colors, 'neutral', 'black');
    border: 1px solid deepMap($colors, 'neutral', 'black');
    color: deepMap($colors, 'neutral', 'white');
  }
  @include hover {
    border-color: deepMap($colors, 'neutral', 'black');
    &.btn-solid {
      background-color: deepMap($colors, 'neutral', 'white');
      color: deepMap($colors, 'neutral', 'black');
    }
  }
  // &:hover {
  //   border-color: deepMap($colors, 'neutral', 'black');
  // }

  // sizes
  &.btn-lg {
    padding: 1rem 1.5rem;
  }
}